<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="general.css">
</head>
<body style="background-color: #E6DDC4">
<header>

</header>
<main style="background-color: #678983">

    <h1>CODE FELLOWS Website</h1>

    <div class="home">
        <a href="/signup" >Sign Up Here </a>
        <br>
        <a href="/login">Log In Here </a>
        <br>
        <a href="/userprofile">user profile </a>
    </div>
</main>
</body>
</html>