<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="signup.css">

</head>
<body>
<h1> please Sign up </h1>
<form method="POST" action="/signup"  style="border:1px solid #ccc">
 <div class="container">
  <label for="username">User Name</label>
  <input id="username" name="username" type="text">
<br>

  <label for="password">Password</label>
  <input id="password" name="password" type="password">
  <br>

  <label for="firstName">First name</label>
  <input id="firstName" name="firstName" type="text">

  <br>

  <label for="lastName">Last name</label>
  <input id="lastName" name="lastName" type="text">

  <br>

  <label for="dateOfBirth">DOB</label>
  <input id="dateOfBirth" name="dateOfBirth" type="text">

  <br>

  <label for="bio">Bio</label>
  <input id="bio" name="bio" type="text">
  <br>
  <br>
  <br>


  <button type="submit" class="signupbtn">Sign up</button>
 </div>
</form>

</body>
</html>